<header class="wrap">
	<section class="profil">
		<div class="profil-img-cptn">
			<img src="assets/img/profile.jpg" alt="" class="profil-img-picto">
		</div>
		<span class="profil-title">
			Profil
		</span>
	</section>
</header>

<nav class="sidenav">
	<a href="#" class="nav-btn">
		M
	</a>
	<ul class="nav-list">
		<li class="nav-item">
			C
			<a href="/intranet/collection" class="nav-open"></a>
		</li>
		<li class="nav-item">
			N
			<a href="/intranet/notice" class="nav-open"></a>
		</li>
		<li class="nav-item">
			S
			<a href="/intranet/scanner" class="nav-open"></a>
		</li>
		<li class="nav-item active">
			F
			<a href="/intranet/filtre" class="nav-open"></a>
		</li>
	</ul>
</nav>

<aside class="left-panel">
	Liste des collections
</aside>

<aside class="right-panel">
	<a href="#" class="right-btn">
		R
	</a>
	<section class="selection">
		Liste des notices sélectionnées
	</section>
</aside>

<div class="screen wrap">
	
</div>