<section class="unique">

    <header>
        <h3>Informations sur la filtre
            <mat-icon (click)="fermer.emit(false)">close</mat-icon>
        </h3>
        <h2>{{ filtre.titre }}</h2>

    </header>

    <form>
        <section>
            <form>
                <label for="titre">Titre
                <input name="titre" [(ngModel)]="filtre.titre" required></label>

                <label for="alias">Alias
                <input name="alias" [(ngModel)]="filtre.alias" required pattern="[a-z0-9-]+"></label>

                <label for="createur">Créateur
                    <input name="createur" [(ngModel)]="filtre.createur" required></label>

                <label for="description">Description</label>
                <textarea mat-input name="description" [(ngModel)]="filtre.description" required>
                </textarea>

            </form>

        </section>

        <section>
            <h3>Métadonnées filtrées</h3>
            <p>
                <input name="meta" [(ngModel)]="meta">
                <mat-icon (click)="ajouteMeta()">add</mat-icon>
            </p>
            <ul>
                <li *ngFor="let m of filtre.metadonnees; let i=index">{{ m }}
                    <mat-icon (click)="filtre.metadonnees.splice(i, 1)">delete</mat-icon>
                </li>
            </ul>
            <hr>
            <p>
                <button class="invalid" (click)="fermer.emit(false)">Annuler</button>
                <button class="valid" (click)="ecrire()">Valider</button>
            </p>
        </section>

    </form>
</section>