/*
////////////////
    Notice
////////////////
*/

/* screen */
.screen {
    display: flex;
    position: absolute;
    top: 64px;
    left: 64px;
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
    flex-flow: row nowrap;

    overflow: auto;
}

.left-panel {
    display: block;
    width: 200px;
    height: 100%;
    padding: 128px 0 0 0;
    flex-shrink: 0;

    background-color: lightgrey;
    overflow: hidden;
}

.content-panel {
    display: block;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.right-panel {
    display: block;
    width: 564px;
    height: 100%;
    flex-shrink: 0;

    overflow: hidden;
}

.left-btn {
    display: block;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;

    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}

.right-btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 64px;
    width: 32px;
    height: 32px;

    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}

.selection {
    display: block;
    height: 100%;
    padding: 100px 16px 16px 16px;

	background-color: grey;
}

/*
////////////////
	Filtre
////////////////
*/