section.screen section {
    padding: 10px 15px;
}

section.screen section header>div {
    float: right;
}
aside:nth-child(1){
    background-color:#f06060;
    flex-grow: 1;
    min-width: 150px;
    color:#FFF;
}*

aside:nth-child(1) ul li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background: #FFF;
    transition: all .3s ease;
}

aside:nth-child(1) ul li mat-icon {
    margin-top: -5px;
    float: right;
}

aside:nth-child(1) ul li:hover {
    background: grey;
}

aside:nth-child(1)>* {
    width: 100%;
}

section.screen>section {
    flex-grow: 1;
}

aside:nth-child(3) {
    flex-grow: 1;
    background-color: #f060607a;
    padding:0;
}

aside:nth-child(3) ul, aside:nth-child(3) section {
    padding:0;
    margin:0;
}