<div id="screen">
	<mat-toolbar>
		<mat-toolbar-row>
			<h1>Fiche Média</h1>
		</mat-toolbar-row>
	</mat-toolbar>
	<section class="box">
		<mat-card class="media-card">
			<mat-card-header>
				<div mat-card-avatar class="media-image"></div>
				<mat-card-title>{{mediaSelected.name}}</mat-card-title>
				<mat-card-subtitle>{{mediaSelected.type}}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="{{mediaSelected.img}}" alt="Photo of a media">
			<mat-card-content>
				<p>{{mediaSelected.description}}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button [routerLink]="['/interface/modification',mediaSelected.id]" color="primary">Modifier</button>
				<button mat-button (click)="delete()" color="warn">Supprimer</button>
			</mat-card-actions>
		</mat-card>
	</section>
</div>

