<aside>
    <section>
        <header class="logo">
            <!-- <div class="square">
                <div></div>
            </div>
            <div>
                <h1>Nemateria</h1>
                <h5>Valorisation de collections numérisées</h5>
            </div> -->
            <a href routerLink='/' title="Valorisation de collections numérisées"><img src="./assets/img/Logo_Nemateria_v.png" alt="Valorisation de collections numérisées"></a>
            <h5>Valorisation de collections numérisées</h5>
        </header>
        <h2>
            Connexion
        </h2>
        <p>
            Connectez-vous pour accéder à l'administration de Nemateria
        </p>
        <article>
            <form #f="ngForm">
                <mat-form-field>
                    <input name="id" matInput placeholder="Votre identifiant" [(ngModel)]="con.compte" minlength=6>
                    <mat-error *ngIf="true">
                        Un identifiant est <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input name="passe" matInput placeholder="Votre mot de passe" [(ngModel)]="con.mdp" type="password">
                    <mat-error *ngIf="true">
                        Un mot de passe valide est <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <button mat-raised-button (click)="authentifier()">Go</button>
        </article>
        <hr>
        <a href (click)="openDialog($event)">Pas encore inscrit? Il suffit de remplir ce formulaire</a>
        <hr>
        <a href="https://nouvelle-aquitaine.fr" target="_blank" class="na">
        <p>Avec la participation financière de la région Nouvelle Aquitaine || Prototype Numérique </p>
            <img src="assets/img/logo-naq.png" alt="Logo région Nouvelle Aquitaine" title="Avec la participation financière de la région Nouvelle Aquitaine || Prototype Numérique">
        </a>
    </section>
</aside>