@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');

section{
	flex-flow:column wrap;
	color:rgba(255,255,255,.7);
}

section:nth-child(1) {
	width: 300px;
	height: 100vh;
	background-color: #304753;
	padding:20px;
	margin-left:20%;
}
section:nth-child(1) section{
	width:100%;
	height:auto;
	margin:0;
	background:none;
}

section > section{
	color:#FFF !important;
}

section > section button {
	background: #FFD600;
}
.mat-raised-button{
	color : #304753 !important;
}
section > section form {
	display: flex;
	flex-direction: column;
}

section > section form > * {
	width: 100%;
}

/** Logo **/

header.logo {
}

header.logo:hover {
	text-shadow: 0 0px 5px rgba(0, 0, 0, 1);
}
.logo {
	display: flex;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-family: 'Raleway',	Arial,sans-serif;
	color:#FFD600;
	text-shadow: 0 0px 3px rgba(0, 0, 0, .5);
	transition:text-shadow .3s ease;
	height:125px;
	margin-bottom:50px;
}

.logo * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.logo > div:nth-child(2){
	margin:auto;
	line-height:120px;
}
.logo h1,
.logo h5 {
	margin: 0;
	line-height: 1.1em;
}

.logo h1 {
	font-family: 'Lora', Arial, sans-serif;
	font-size: 2.2em;
}

.logo h5 {
	line-height: 0.5em;
	font-weight: 400;
}

.logo .square {
	height: 97.5px;
	width: 97.5px;
	overflow: hidden;
	content: '';
	position:absolute;
	margin-left:100px;
	transform: rotate(45deg);
	transform-origin: 0 0;
}

.logo .square:before,
.logo .square:after,
.logo .square div:before,
.logo .square div:after {
	background-color: #FFD600;
	position: absolute;
	content: "";
	display: block;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.logo .square:before,
.logo .square:after {
	height: 4px;
	width: 40%;
}

.logo .square div:before,
.logo .square div:after {
	width: 4px;
	height: 40%;
}

.logo .square:before,
.logo .square div:before {
	left: 0;
	top: 0;
}

.logo .square:after,
.logo .square div:after {
	bottom: 0;
	right: 0;
}

.mat-form-field-label {
	top: 0;
	left:30px;
}