<section class="screen">
    <mat-icon (click)="toggleLeftPanel($event)" class="left-btn">settings_ethernet</mat-icon>
    <!-- <a href="#" class="left-btn" (click)="toggleLeftPanel($event)">
      L
  </a> -->
    <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed'">
        <form class="left-form">
            <mat-form-field>
                <input matInput placeholder="Rechercher" [(ngModel)]="this.noticeFiltre" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
    </aside>
    <section>
        <ul class="notice-liste">
            <li *ngFor="let notice of (this.noticeListe | filtre:noticeFiltre)" class="notice">
                <div [style.backgroundImage]="'url('+ notice.dossier + '/' + notice.fichier +')'">
                    <!-- <img [src]="notice.dossier+'/'+notice.fichier" [alt]="notice.description"> -->
                    <div>
                        <mat-icon (click)="afficheNotice = !afficheNotice">visibility</mat-icon>
                        <mat-icon (click)="noticeOnChoisi($event, notice._id)">playlist_add</mat-icon>
                        <mat-icon (click)="noticeOnInfo($event, notice._id)">info</mat-icon>
                    </div>
                </div>
                <div>
                    <h2>{{notice.nom}}</h2>
                    <p>{{notice.description}}</p>
                </div>
            </li>
        </ul>
    </section>
    <aside class="right-panel" [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed'">
        <section class="selection">
            <h2>Liste des notices sélectionnées</h2>
            <ul>
                <li *ngFor="let notice of this.noticeSelection">
                    <mat-chip-list>
                        <mat-chip (removed)="noticeSelectionRemove(notice._id)">
                            {{notice.nom}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </li>
            </ul>
        </section>
        <section class="metadata">
            <h2>Métadonnées d’une notice sélectionnée</h2>
            <article *ngIf="this.noticeAffiche">
                <h3>{{this.noticeElement.nom}}</h3>
                <p>
                    {{this.noticeElement.description}}<br> {{this.noticeElement.dossier}}{{this.noticeElement.fichier}}
                </p>
            </article>
        </section>
    </aside>
    <mat-icon (click)="toggleRightPanel($event)" class="right-btn">settings_ethernet</mat-icon>
    <!-- <a href="#" class="right-btn" (click)="toggleRightPanel($event)">
      R
  </a> -->
</section>
<app-notice *ngIf="afficheNotice" [notice]="noticeSelectionnee" (fermer)="masqueNotice($event)" class="unique"></app-notice>