<section class="screen">
    <mat-icon (click)="toggleLeftPanel($event)" class="left-btn">settings_ethernet</mat-icon>
    <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed'">
        <form class="left-form">
            <mat-form-field>
                <input matInput placeholder="Rechercher" [(ngModel)]="this.noticeFiltre" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
    </aside>
    <!-- AFFICHER LA LSITE DES NOTICES SELECTIONNEES -->
    <section>
        <ul class="notice-liste">

            <li *ngFor="let notice of (this.noticeListe | filtre:noticeFiltre)" class="notice">
                <div [style.backgroundImage]="'url('+ notice.dossier + '/' + notice.fichier +')'">
                    <!-- <img [src]="notice.dossier+'/'+notice.fichier" [alt]="notice.description"> -->
                    <div>
                        <mat-icon (click)="noticeAfficheDetail($event, notice._id)" matTooltip="Voir la fiche de la notice">visibility</mat-icon>
                        <mat-icon (click)="noticeOnChoisi($event, notice._id)" matTooltip="Ajouter cette notice à la liste sélectionnée">playlist_add</mat-icon>
                        <mat-icon (click)="noticeOnInfo($event, notice._id)" matTooltip="Informations synthétiques sur la notice">info</mat-icon>
                        <mat-icon matTooltip="Supprimer la notice">remove_circle</mat-icon>
                    </div>
                </div>
                <div>
                    <h3>{{notice.nom}}</h3>
                    <p>{{notice.description}}</p>
                    <div>
                        <mat-icon *ngIf="notice.selected">check_circle</mat-icon>
                        <mat-icon *ngIf="!notice.selected">check_circle_outline</mat-icon>
                    </div>
                </div>

            </li>
        </ul>
    </section>
    <!-- OPTIONS LIEES AUX NOTICES : CREER UNE LISTE, AFFICHER LES METADONNEES D'UNE NOTICE -->
    <aside class="right-panel" [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed'">
        <section class="demi">
            <header>
                <mat-icon matTooltip="Ouvrir / fermer le panneau" (click)="toggleRightPanel($event)">settings_ethernet</mat-icon>
                <mat-icon matTooltip="Sélectionner toutes les notices" (click)="noticesToutesChoisies()">select_all</mat-icon>
                <mat-icon matTooltip="Déselectionner toutes les notices" (click)="noticesAucuneChoisie()">clear_all</mat-icon>
                <mat-icon matTooltip="Créer une collection à partir de la sélection">playlist_add_check</mat-icon>
            </header>
            <h2>Liste des notices sélectionnées</h2>

            <ul>
                <li *ngFor="let notice of this.noticeSelection">
                    <mat-chip-list>
                        <mat-chip (removed)="noticeSelectionRemove(notice._id)">
                            {{notice.titre}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </li>
            </ul>
        </section>
        <!-- AFFICHAGE RAPIDE DES META D'UNE NOTICE -->
        <section class="demi">
            <h2>Métadonnées d’une notice sélectionnée</h2>
            <article *ngIf="this.noticeAffiche">
                <h3>{{ noticeService[idNotice].nom}}</h3>
                <p>
                    {{noticeService[idNotice].description}}<br> {{noticeService[idNotice].dossier}}{{noticeService[idNotice].fichier}}
                </p>
            </article>
        </section>
    </aside>
</section>
<app-notice *ngIf="afficheDetailNotice" [idNotice]="idNotice" (fermer)="masqueNotice($event)" class="unique"></app-notice>