<section class="screen double">

    <!-- AFFICHER LA LSITE DES NOTICES SELECTIONNEES -->
    <section>
        <header class="filtre">
            <h2>Filtrer les notices</h2>
            <form>
                <label for="libre">Filtre libre
                <input name="libre" placeholder="Filtre libre" [(ngModel)]="filtre.libre"></label>

                <label for="dateDebut">Date de création (début)   
                <input name="dateDebut" type="date" placeholder="A partir de..." [(ngModel)]="filtre.dateDebut"></label>

                <label for="dateFin">Date de création (fin)
                <input name="dateFin" type="date" placeholder="... jusqu'à" [(ngModel)]="filtre.dateFin"></label>

                <label for="type">Types de fichiers   
                <select name="type" [(ngModel)]="filtre.type" placeholder="Type de fichiers">
                        <option value="image">Images</option>
                        <option value="video">Vidéos</option>
                        <option value="audio">Audio</option>
                        <option value="application">Textes</option>
                    </select></label>
            </form>
        </header>
        <ul class="notice-liste">
            <li *ngFor="let n of (this.noticesServ.noticesAll | filtreNotices:filtre)" class="notice">
                <!-- <a (click)="noticeSelectionnee(notice._id)" matTooltip="Ajouter cette notice à la liste sélectionnée"></a> -->

                <div [style.backgroundImage]="utils.setNoticeBg(n)" [class.choix]="n.selected">
                    <video *ngIf="n.metadonnees['dublincore']['format'].indexOf('video')!=-1" [poster]="n.metadonnees['dublincore']['coverage']">
                        <source [src]="n.metadonnees['media'].url" [type]="n.metadonnees['dublincore']['format']">
                    </video>
                    <audio *ngIf="n.metadonnees['dublincore']['format'].indexOf('audio')!=-1">
                        <source [src]="n.metadonnees['media'].url" [type]="n.metadonnees['dublincore']['format']">
                        </audio>
                    <div (mouseenter)="utils.play($event)" (mouseleave)="utils.pause($event)" (click)="fake()">
                        <div>
                            <mat-icon (click)="noticeOnAffiche(n._id)" matTooltip="Voir la fiche de la notice">visibility</mat-icon>
                            <mat-icon (click)="noticeSelectionnee(n._id)" matTooltip="Ajouter cette notice à la liste sélectionnée">add_circle</mat-icon>
                            <mat-icon matTooltip="Supprimer la notice" (click)="noticeSelectionRemove(n._id)">remove_circle</mat-icon>
                            <mat-icon (click)="noticeOnInfo(n._id)" matTooltip="Informations rapides sur la notice">info</mat-icon>
                        </div>
                    </div>
                    <!-- <div (click)="noticeSelectionnee(n._id)"></div> -->

                </div>
                <div>
                    <h3>{{ n.metadonnees['dublincore'].title }}</h3>
                    <p>{{ n.metadonnees['dublincore'].description }}</p>
                    <div>
                        <mat-icon *ngIf="n.selected">check_circle</mat-icon>
                        <mat-icon *ngIf="!n.selected">check_circle_outline</mat-icon>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- OPTIONS LIEES AUX NOTICES : CREER UNE LISTE, AFFICHER LES METADONNEES D'UNE NOTICE -->
    <aside class="right-panel">
        <section class="demi">
            <header>
                <h4>Actions groupées : </h4>
                <mat-icon matTooltip="Sélectionner toutes les notices" (click)="noticesToutesChoisies()">filter</mat-icon>
                <mat-icon matTooltip="Déselectionner toutes les notices" (click)="noticesAucuneChoisie()">filter_none</mat-icon>
                <mat-icon matTooltip="Créer une collection à partir de la sélection" (click)="collectionOnAffiche()">collections</mat-icon>
                <mat-icon matTooltip="Supprimer les notices sélectionnées" (click)="noticesSuppr()" *ngIf="tokenServ.statut >= 2">delete_forever</mat-icon>
            </header>

            <h2>Liste des notices sélectionnées</h2>
            <ul>
                <li *ngFor="let n of this.noticeSelection">
                    <mat-chip-list>
                        <mat-chip (removed)="noticeSelectionRemove(n._id)">
                            {{n.metadonnees['dublincore'].title}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </li>
            </ul>
        </section>
        <!-- AFFICHAGE RAPIDE DES META D'UNE NOTICE -->
        <section class="demi">
            <h2>Métadonnées d’une notice sélectionnée</h2>
            <article *ngIf="this.noticeAffiche">
                <h3>{{ noticeChoisie.metadonnees['dublincore'].title}}</h3>
                <ul>
                    <li>{{ noticeChoisie.metadonnees['dublincore'].description }}</li>
                    <li>{{ noticeChoisie.metadonnees['media'].file }}</li>
                    <li>{{ noticeChoisie.metadonnees['media'].url }}</li>
                </ul>
            </article>
        </section>
    </aside>
</section>
<app-notice *ngIf="afficheDetailNotice" [idNotice]="idNotice" (fermer)="masque()" class="unique"></app-notice>
<app-collection *ngIf="afficheDetailCollec" [idCollection]="idCollection" (fermer)="masque()" class="unique"></app-collection>