<section>
    <mat-icon (click)="fermer.emit(false)">close</mat-icon>
    <header>
        <h1>{{ noticeServ.notice.metadonnees['dublincore'].title }}</h1>
        <!-- Afficher une image -->
        <p *ngIf="noticeServ.notice.metadonnees['dublincore'].format.indexOf('image') != -1">
            <img [src]="noticeServ.notice.metadonnees['media'].url">
        </p>
        <p *ngIf="noticeServ.notice.metadonnees['dublincore'].format.indexOf('video') != -1" class="media">
            <video controls>
                <source [src]="noticeServ.notice.metadonnees['media'].url" [type]="noticeServ.notice.metadonnees['dublincore'].format">
            </video>
        </p>

        <p *ngIf="noticeServ.notice.metadonnees['dublincore'].format.indexOf('audio') != -1" class="media">
            <source [src]="noticeServ.notice.metadonnees['media'].url" [type]="noticeServ.notice.metadonnees['dublincore'].format">
        </p>
        <p *ngIf="noticeServ.notice.metadonnees['dublincore'].format.indexOf('application') != -1">
            <iframe [src]="noticeServ.notice.metadonnees['media'].url"></iframe>
            <img [src]="noticeServ.notice.metadonnees['media'].url">
        </p>
        <!-- <ul *ngIf="noticeServ.notice.metadonnees['nemateria'].sequences.time_code.length > 0">
            <li *ngFor="let s of noticeServ.notice.metadonnees['nemateria'].sequences.time_code; let i=index">
                <p><span>{{ i }}</span><span>{{ noticeServ.notice.metadonnees['nemateria'].sequences.resume_sequence[i] }}</span><span>{{ noticeServ.notice.metadonnees['nemateria'].sequences.duree_sequence[i] }}</span></p>
                <p>{{ noticeServ.notice.metadonnees['nemateria'].sequences.mots_cles_sequences.toString() }}</p>
            </li>
        </ul> -->

    </header>
    <article *ngIf="!update">

        <ul>
            <!-- tri dans le premier niveau de données -->
            <li *ngFor="let n of noticeServ.notice | keyvalue">

                <span *ngIf="utils.typeOf(n.value) !== 'object'; else elseBlockN">
                    <strong>{{ n.key }}</strong> : {{ n.value }}
                    <!-- <strong>{{ n.key }} </strong> : <input [(ngModel)]="n.value" [name]="n.key" [disabled]="active === 1 ? false : true"> -->
                </span>
                <ng-template #elseBlockN>
                    <strong>{{ n.key }}</strong>
                    <ul>
                        <!-- Tri dans le deuxième niveau de données -->
                        <li *ngFor="let m of n.value | keyvalue">
                            <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                <strong>{{ m.key }}</strong> : {{ m.value }}
                            </span>
                            <ng-template #elseObjM>
                                <strong>{{ m.key }}</strong>
                                <ul>
                                    <!-- Tri dans le deuxième niveau de données -->
                                    <li *ngFor="let l of m.value | keyvalue">
                                        <span *ngIf="utils.typeOf(l.value) !== 'object'; else elseBlockL">
                                            <strong>{{ l.key }}</strong> : {{ l.value }}
                                        </span>
                                        <ng-template #elseBlockL>
                                            <strong>{{ l.key }}</strong>
                                            <ul>
                                                <!-- Tri dans le troisième niveau de données -->
                                                <li *ngFor="let k of l.value | keyvalue">
                                                    <strong>{{ k.key }}</strong> : {{ k.value }}
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                </ul>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
            </li>
        </ul>
    </article>
</section>