<section>
    <mat-icon (click)="fermer.emit(false)">close</mat-icon>
    <header>
        <!-- Afficher une image -->
        <p *ngIf="notice.fichier.type.indexOf('image') > -1">
            <img [src]="notice.fichier.url">
        </p>
        <!-- Afficher une vidéo MP4 -->
        <p *ngIf="notice.fichier.type.indexOf('mpg4') > -1">
            <video controls>
                <source [src]="notice.fichier.url" type="video/mp4">
            </video>
        </p>
        <!-- Afficher une vidéo WEBM -->
        <p *ngIf="notice.fichier.type.indexOf('webm') > -1">
            <video controls>
                <source [src]="notice.fichier.url" type="video/webm">
            </video>
        </p>
        <!-- Afficher un audio MP3 -->
        <p *ngIf="notice.fichier.type.indexOf('mp3') > -1">
            <audio controls>
                <source [src]="notice.fichier.url" type="audio/mpeg">
            </audio>
        </p>
    </header>
    <article>
        <h3>{{ notice.titre }}</h3>
        <ul>
            <!-- tri dans le premier niveau de données -->
            <li *ngFor="let n of notice | clesJson">
                <span *ngIf="utils.typeOf(n.value) !== 'object'; else elseBlockN">
                    <strong>{{ n.key }}</strong> : {{ n.value }}
                </span>
                <ng-template #elseBlockN>
                    <strong>{{ n.key }}</strong>
                    <ul>
                        <!-- Tri dans le deuxième niveau de données -->
                        <li *ngFor="let m of n.value | clesJson">
                            <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                <strong>{{ m.key }}</strong> : {{ m.value }}
                            </span>
                            <ng-template #elseObjM>
                                <strong>{{ m.key }}</strong>
                                <ul>
                                    <!-- Tri dans le deuxième niveau de données -->
                                    <li *ngFor="let l of m.value | clesJson">
                                        <span *ngIf="utils.typeOf(l.value) !== 'object'; else elseBlockL">
                                            <strong>{{ l.key }}</strong> : {{ l.value }}
                                        </span>
                                        <ng-template #elseBlockL>
                                            <strong>{{ l.key }}</strong>
                                            <ul>
                                                <!-- Tri dans le troisième niveau de données -->
                                                <li *ngFor="let k of l.value | clesJson">
                                                    <strong>{{ k.key }}</strong> : {{ k.value }}
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                </ul>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
            </li>
        </ul>
    </article>
</section>