<section class="screen triple">
    <aside class="left-panel">
        <header>
            <h1>SETS disponibles</h1>
            <p>Sélectionnez un SET pour avoir ses informations.</p>
        </header>
        <ul>
            <li *ngFor="let s of setsServ.sets; let i=index" (click)="setOnClick(s._id) ">
                {{s.titre}} (fonds : {{ s.fonds }})
            </li>
        </ul>
    </aside>
    <section>
        <div *ngIf="setsServ.set">
            <header>
                <div>
                    <mat-icon matTooltip="Supprimer le SET" (click)="delete = true">delete</mat-icon>
                    <mat-icon matTooltip="Modifier le SET" (click)="edit = true">edit</mat-icon>
                    <!-- <mat-icon matTooltip="Sauvegarder les changements">save</mat-icon> -->
                </div>
                <h2>Informations sur le SET sélectionné</h2>
            </header>
            <article *ngIf="setsServ.set">
                <ul>
                    <span *ngFor="let n of setsServ.set | keyvalue">
                    <li *ngIf="getDocs(n.key)">
                        <strong>{{ n.key }}</strong> : {{ n.value }}
                    </li>
                </span>
                </ul>
            </article>
            <article>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let s of setsServ.set.documents[0] | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ s.key }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <span *ngFor="let m of s | keyvalue">
                            <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                 
                            </span>
                            <ng-template #elseObjM>
                                <!-- Tri dans le deuxième niveau de données -->
                                <li *ngFor="let l of m.value | keyvalue">
                                    <strong>{{ l.key }}</strong>
                                </li>
                            </ng-template>
                            </span>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </article>
            <p class="flex justify-around">
                <button (click)="afficheDocs = true">Afficher les documents du SET</button>
                <button (click)="creeCollec = true">Créer une collection à partir de ce SET</button>
            </p>

        </div>
    </section>
    <aside>
        <section class="selection" *ngIf="afficheDocs">
            <article>
                <mat-accordion *ngIf="setsServ.set">
                    <mat-expansion-panel *ngFor="let s of miniDocs; let i=index">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ i }} : {{ s.dublincore.title }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li *ngFor="let l of s | keyvalue">
                                <strong>{{ l.key }}</strong>
                                <ul>
                                    <span *ngFor="let m of l.value | keyvalue">
                                    <li *ngIf="m.value">
                                        <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                            <strong>{{ m.key }}</strong> : {{ m.value }}
                                        </span>

                                    <ng-template #elseObjM>
                                        <ul>
                                            <!-- Tri dans le deuxième niveau de données -->
                                            <span *ngFor="let n of m.value | keyvalue">
                                                <li *ngIf="n.value">
                                                    <strong>{{ n.key }}</strong> : {{ n.value }}
                                                </li>
                                            </span>
                                        </ul>
                                    </ng-template>
                            </li>
                            </span>
                            </ul>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
                <hr>
                <div *ngIf="setsServ.set" class="flex justify-center">
                    <button (click)="pagine(-20)" [disabled]="page.min < 20"><</button><button (click)="pagine(20)" [disabled]="page.max > setsServ.set.documents.length-20">></button>
                </div>
            </article>
        </section>
    </aside>
</section>

<section class="pop-up" *ngIf="delete">
    <article>
        <h2>Etes-vous sûr.e ?</h2>
        <p>
            <mat-icon matTooltip="Annuler la destruction" (click)="delete = false" class="grand">cancel</mat-icon>
            <mat-icon matTooltip="Valider la destruction" (click)="setsServ.supprSet(setsServ.set._id); delete=false" class="grand vert">check_circle</mat-icon>
        </p>
    </article>
</section>
<!-- Afficher la collection choisie -->
<app-set *ngIf="edit" [set]="setsServ.set" (fermer)="masque()" class="unique"></app-set>
<!-- Afficher la collection à créer -->
<app-collection *ngIf="creeCollec" [idCollection]="-1" (fermer)="masque()" class="unique"></app-collection>