<section class="screen triple">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h1>SETS disponibles</h1>
            <!-- <mat-icon matTooltip="Ajouter une collection" (click)="afficheDetailCollec = true; idCollection = null">playlist_add</mat-icon> -->
        </header>
        <ul>

            <li *ngFor="let s of setsServ.sets; let i=index" (click)="setOnClick(s._id) ">
                {{s.titre}} (fonds : {{ s.fonds }})
                <!-- <mat-icon matTooltip="Afficher les séries" *ngIf="collection.series" (click)="toggleSeries('series_'+collection._id)">keyboard_arrow_down</mat-icon> -->
            </li>
        </ul>
    </aside>
    <section>
        <div *ngIf="set">
            <header>
                <div>
                    <mat-icon matTooltip="Supprimer le SET" (click)="delete = true">delete</mat-icon>
                    <mat-icon matTooltip="Modifier le SET" (click)="edit = true">edit</mat-icon>
                    <!-- <mat-icon matTooltip="Sauvegarder les changements">save</mat-icon> -->
                </div>
                <h2>Informations sur le SET sélectionné</h2>
            </header>
            <article *ngIf="set">
                <ul>
                    <span *ngFor="let n of set | keyvalue">
                    <li *ngIf="getDocs(n.key)">
                        <strong>{{ n.key }}</strong> : {{ n.value }}
                    </li>
                </span>
                </ul>
            </article>
            <article>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let s of set.documents[0] | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ s.key }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <span *ngFor="let m of s | keyvalue">
                            <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                 
                            </span>
                            <ng-template #elseObjM>
                                <!-- Tri dans le deuxième niveau de données -->
                                <li *ngFor="let l of m.value | keyvalue">
                                    <strong>{{ l.key }}</strong>
                                </li>
                            </ng-template>
                            </span>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </article>
            <button (click)="afficheDocs = true">Afficher les documents du SET</button>
        </div>
    </section>
    <!-- <aside class="right-panel " [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed' "> -->
    <aside>
        <section class="selection" *ngIf="afficheDocs">
            <article>
                <mat-accordion *ngIf="set">
                    <mat-expansion-panel *ngFor="let s of set.documents; let i=index">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ i }} : {{ s.dublincore.title }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li *ngFor="let l of s | keyvalue">
                                <strong>{{ l.key }}</strong>
                                <ul>
                                    <li *ngFor="let m of l.value | keyvalue">
                                        <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                            <strong>{{ m.key }}</strong> : {{ m.value }}
                                        </span>

                                        <ng-template #elseObjM>
                                            <!-- <ul> -->
                                            <!-- Tri dans le deuxième niveau de données -->
                                            <span *ngFor="let n of m.value | keyvalue">
                                                    <strong>{{ n.key }}</strong> : {{ n.value }}
                                                </span>
                                            <!-- </ul> -->
                                        </ng-template>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </article>
        </section>
    </aside>
</section>

<!-- Valider une suppression de notice ou de collection -->
<section *ngIf="afficheEnlever" class="pop-up">
    <article>
        <h3>Supprimer une notice</h3>
        <p>En cliquant sur valider la suppression vous enleverez la notice de cette collection.</p>
        <p>Elle restera néanmoins disponible dans les autres collections ou pourra être intégrée dans une autre sélection.
        </p>
        <button>Valider la suppression</button>
        <button (click)="masque()">Annuler</button>
    </article>
</section>
<section class="pop-up" *ngIf="delete">
    <article>
        <h2>Etes-vous sûr.e ?</h2>
        <p>
            <mat-icon matTooltip="Annuler la destruction" (click)="delete = false" class="grand">cancel</mat-icon>
            <mat-icon matTooltip="Valider la destruction" (click)="setsServ.supprSet(set._id)" class="grand">check_circle</mat-icon>
        </p>
    </article>
</section>
<!-- Afficher la collection choisie -->
<app-set *ngIf="edit" [set]="set" (fermer)="masque()" class="unique"></app-set>
<!-- Afficher la notice choisie -->