<section class="screen triple">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h1>SETS disponibles</h1>
            <!-- <mat-icon matTooltip="Ajouter une collection" (click)="afficheDetailCollec = true; idCollection = null">playlist_add</mat-icon> -->
        </header>
        <ul>

            <li *ngFor="let s of setsServ.sets; let i=index" (click)="setOnClick(s._id) ">
                {{s.titre}} (fonds : {{ s.fonds }})
                <!-- <mat-icon matTooltip="Afficher les séries" *ngIf="collection.series" (click)="toggleSeries('series_'+collection._id)">keyboard_arrow_down</mat-icon> -->
            </li>
        </ul>
    </aside>
    <section>
        <header>
            <div>
                <mat-icon matTooltip="Modifier la collection" (click)="afficheDetailSet = true">edit</mat-icon>
                <mat-icon matTooltip="Sauvegarder les changements">save</mat-icon>
            </div>
            <h2>Informations sur le SET sélectionné</h2>
        </header>
        <article *ngIf="set">
            <ul>
                <li *ngFor="let n of set | obj | keyvalue">
                    <strong>{{ n.key }}</strong> : {{ n.value }}
                </li>
            </ul>
        </article>
    </section>
    <!-- <aside class="right-panel " [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed' "> -->
    <aside>
        <section class="selection">
            <!-- <ul class="notice-liste">
                <li *ngFor="let notice of noticesServ.noticesCollec; let i=index" class="notice">
                    <div [style.backgroundImage]="'url('+ notice.fichier.url +')'">
                        <div>
                            <mat-icon (click)="noticeOnAffiche(notice._id)" matTooltip="Voir la fiche de la notice">
                                visibility</mat-icon>
                            <mat-icon (click)="noticeOnEnlever(notice._id)"
                                matTooltip="Enlever cette notice de la collection">remove_circle</mat-icon>
                        </div>
                    </div>
                    <div>
                        <h3>{{notice.titre}}</h3>
                        <p>{{notice.description}}</p>
                    </div>
                </li>
            </ul> -->
        </section>
    </aside>
</section>

<!-- Valider une suppression de notice ou de collection -->
<section *ngIf="afficheEnlever" class="pop-up">
    <article>
        <h3>Supprimer une notice</h3>
        <p>En cliquant sur valider la suppression vous enleverez la notice de cette collection.</p>
        <p>Elle restera néanmoins disponible dans les autres collections ou pourra être intégrée dans une autre sélection.
        </p>
        <button>Valider la suppression</button>
        <button (click)="masque()">Annuler</button>
    </article>
</section>
<!-- Afficher la collection choisie -->
<app-collection *ngIf="afficheDetailSet" [idCollection]="idSet" (fermer)="masque()" class="unique"></app-collection>
<!-- Afficher la notice choisie -->