section:nth-child(2) {
    flex-grow: 4;
    min-width: 30%;
    background-color: rgba(235, 151, 78, 0.5);
    padding: 0;
}

aside:nth-child(1) {
    background-color: #eb974e;
}

aside:nth-child(3) {
    border-right: 10px solid rgba(235, 151, 78, 0.5);
}