<mat-toolbar>
	<mat-toolbar-row>
		<h1>Nouveau Média</h1>
	</mat-toolbar-row>
</mat-toolbar>

<section class="box">
	<form class="formulaire" [formGroup]="mediaForm">
		<mat-form-field>
			<input matInput formControlName="nom" placeholder="Nom *">
			<mat-error *ngIf="true">
				Cette information est <strong>obligatoire</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-select formControlName="type" placeholder="Type *">
				<mat-option value="img">image</mat-option>
				<mat-option value="son">son</mat-option>
				<mat-option value="video">video</mat-option>
				<mat-option value="PDF">PDF</mat-option>
			</mat-select>
			<mat-error *ngIf="true">
				Cette information est <strong>obligatoire</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput formControlName="description" placeholder="Description *"></textarea>
			<mat-error *ngIf="true">
				Cette information est <strong>obligatoire</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput formControlName="url" placeholder="Url (optionnel)">
		</mat-form-field>
	</form>
	<button mat-raised-button color='primary' (click)="setMedia()">Go</button>
</section>