<mat-nav-list>
    <a href="#" mat-list-item (click)="openLink($event)">
        <span mat-line>Selection</span>
        <span mat-line>Ajouter ce média à la selection pour créer une collection</span>
    </a>

<a href="#" mat-list-item [routerLink]="['/medias/afficher', data.idMediaSelected]" (click)="openLink($event)">
        <span mat-line>Média</span>
        <span mat-line>Voir la fiche du Média</span>
    </a>

    <a href="#" mat-list-item routerLink="interface" (click)="openLink($event)">
        <span mat-line>Média</span>
        <span mat-line>Modifier les informations de ce Média</span>
    </a>
</mat-nav-list>