/*
////////////////
	sidenav
////////////////
*/

nav ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100vh;
    padding: 128px 0 0 8px;
    flex-direction: column;
    background-color: grey;
}

nav li {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: white;
}

nav li a {
    width: 48px;
    height: 48px;
    display: flex;
    transition: all .3s ease;
}

nav li a:hover {
    background-color: orangered;
}

nav li mat-icon {
    margin: auto;
    display: block;
}

.active {
    background-color: yellow;
}