<nav class="sidenav">
    <a href="#" class="nav-btn" (click)="toggleMenu($event)">
		M
	</a>
    <ul class="nav-list">
        <li class="nav-item">
            C
            <a href routerLink="/intranet/collections" class="nav-open"></a>
        </li>
        <li class="nav-item active">
            N
            <a href routerLink="/intranet/notices" class="nav-open"></a>
        </li>
        <li class="nav-item">
            S
            <a href routerLink="/intranet/scanner" class="nav-open"></a>
        </li>
        <li class="nav-item">
            F
            <a href routerLink="/intranet/filtres" class="nav-open"></a>
        </li>
    </ul>
</nav>

<aside class="left-panel" [@openCloseMenu]="menuIsOpen ? 'open' : 'closed'">
    <!--<input type="text" [(ngModel)]="this.noticeFiltre">-->
    <mat-form-field class="search-form-field">
        <input matInput type="text" placeholder="Rechercher" [(ngModel)]="this.noticeFiltre">
        <button mat-button *ngIf="this.noticeFiltre" matSuffix mat-icon-button aria-label="Clear" (click)="this.noticeFiltre=''">
    		<mat-icon>close</mat-icon>
  		</button>
    </mat-form-field>
</aside>

<!-- <nav>
	<div class="snip1222">
		<div class="square">
			<div></div>
		</div>
		<h1>Nemateria</h1>
		<h5>Quis autem vel eum</h5>
	</div>
	<div class="nav-options">
		<mat-list role="list">
			<mat-list-item role="listitem" class="list_item">
				<button mat-fab class="nav-option" routerLink="/intranet/medias">
					<mat-icon>assignment</mat-icon>
				</button>
			</mat-list-item>
			<mat-list-item role="listitem">
				<button mat-fab class="nav-option" routerLink="/intranet/medias/ajouter">
					<mat-icon>plus_one</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
</nav> -->