<header class="logo">
    <!-- <div class="square">
        <div></div>
    </div>
    <div>
        <h1>Nemateria</h1>
    </div> -->
    <a href routerLink="/intranet" title="Nemateria || Valorisation de collections numérisées"><img src="./assets/img/Logo_Nemateria_v.png" alt="Nemateria || Valorisation de collections numérisées"></a>
</header>
<nav>
    <ul>
        <hr>
        <li>
            <a routerLinkActive="active" routerLink="/intranet" matTooltip="Retourner à l'accueil">
                <mat-icon>dashboard</mat-icon>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/collections" matTooltip="Accéder aux collections">
                <mat-icon>collections</mat-icon>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/notices" matTooltip="Accéder aux notices">
                <mat-icon>burst_mode</mat-icon>
            </a>
        </li>
        <hr>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/scanner" matTooltip="Scanner les dossiers pour constituer des collections">
                <mat-icon>scanner</mat-icon>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/sets" matTooltip="Liste des SETS et fonds">
                <mat-icon>all_inbox</mat-icon>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/filtres" matTooltip="Créer des filtres dans les données">
                <mat-icon>photo_filter</mat-icon>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/intranet/mappages" matTooltip="Mapper les données pour un moissonnage futur">
                <mat-icon>explore_off</mat-icon>
            </a>
        </li>
        <hr>
    </ul>
</nav>
<section class="settings">
    <a routerLinkActive="active" (click)="authServ.deconnexion()" matTooltip="Se déconnecter">
        <mat-icon>remove_circle_outline</mat-icon>
    </a>
    <a routerLinkActive="active" routerLink="/intranet/profil" matTooltip="Accéder à mon profil">
        <mat-icon>account_circle</mat-icon>
    </a>
    <a routerLinkActive="active" routerLink="/intranet/aide" matTooltip="Un peu d'aide ?">
        <mat-icon>help_outline</mat-icon>
    </a>
    <a routerLinkActive="active" routerLink="/intranet/parametres" matTooltip="Votre profil et vos paramètres">
        <mat-icon>settings</mat-icon>
    </a>
</section>