<nav class="sidenav">
    <ul class="nav-list">
        <li class="nav-item">
            C
            <a href routerLink="/intranet/collections" class="nav-open"></a>
        </li>
        <li class="nav-item active">
            N
            <a href routerLink="/intranet/notices" class="nav-open"></a>
        </li>
        <li class="nav-item">
            S
            <a href routerLink="/intranet/scanner" class="nav-open"></a>
        </li>
        <li class="nav-item">
            F
            <a href routerLink="/intranet/filtres" class="nav-open"></a>
        </li>
    </ul>
</nav>