
<button class="user-option" mat-icon-button [matMenuTriggerFor]="menu">
  <div mat-card-avatar class="example-header-image"></div>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>close</mat-icon>
    <span>Deconnexion</span>
  </button>
  <!--
<button mat-menu-item disabled>
  <mat-icon>voicemail</mat-icon>
  <span>Check voicemail</span>
</button>
<button mat-menu-item>
  <mat-icon>notifications_off</mat-icon>
  <span>Disable alerts</span>
</button>
  -->
</mat-menu>

<mat-form-field appearance="outline" class="searchbox">
  <mat-label>Rechercher</mat-label>
  <input matInput placeholder="Taper votre recherche">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>