/*
////////////////
    Notice
////////////////
*/


/* screen */

.left-full-width {
    width: 100%;
}

.right-panel {
    display: block;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.left-btn {
    display: block;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}

.right-btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 64px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}


/* notices */

section>ul {
    display: flex;
    height: auto;
    width: 100%;
    flex-flow: row wrap;
}