<section class="screen">
    <a href="#" class="left-btn" (click)="toggleLeftPanel($event)">
        L
    </a>
    <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed'">
        <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                    <button mat-icon-button disabled></button> {{node.filename}}: {{node.type}}
                </li>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                <li>
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button> {{node.filename}}
                    </div>
                    <ul [class.download-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </li>
            </mat-nested-tree-node>
        </mat-tree>
    </aside>
    <section class="content-panel">
        <ul class="notice-liste">
            <li class="notice-cptn" *ngFor="let notice of (this.noticeListe | filtre:noticeFiltre)">
                <a href (click)="noticeOnClick($event, notice._id)" class="notice" [title]="notice.description">
                    <img [src]="notice.dossier+'/'+notice.fichier" [alt]="notice.description" class="notice-img">
                    <h2 class="not-title">{{notice.nom}}</h2>
                </a>
            </li>
        </ul>
    </section>
    <aside class="right-panel" [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed'">
        <section class="selection">
            <h2>Liste des notices sélectionnées</h2>
            <ul>
                <li *ngFor="let notice of this.noticeSelection">
                    <mat-chip-list>
                    <mat-chip (removed)="noticeSelectionRemove(notice._id)">
                        {{notice.nom}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    </mat-chip-list>
                </li>
            </ul>
        </section>
        <section class="metadata">
            <h2>Métadonnées d’une notice sélectionnée</h2>
            <article *ngIf="this.noticeAffiche">
                <h3>{{this.noticeElement.nom}}</h3>
                <p>
                    {{this.noticeElement.description}}<br> {{this.noticeElement.dossier}}{{this.noticeElement.fichier}}
                </p>
            </article>
        </section>
    </aside>

    <a href="#" class="right-btn" (click)="toggleRightPanel($event)">
        R
    </a>
</section>