<section class="screen triple">
    <aside>
        <header>
            <h1>Sets de données</h1>
            <h2>Liste des dossiers de votre serveur</h2>
            <hr>
            <p>En cliquant sur un dossier vous pourrez afficher les métadonnées des fichiers qu'il contient pour en vérifier la qualité</p>
        </header>
        <ul>
            <li *ngFor="let d of scanServ.listeDossiers" (click)="scanOnClick(d)"> {{d}} </li>
        </ul>
    </aside>
    <section>
        <header>
            <h2>Métadonnées</h2>
            <hr>
            <p>Liste des métadonnées scannées dans le dossier sélectionné</p>
            <p *ngIf="scanServ.scans">
                <button (click)="extraitSet()">Extraire le schéma des données pour un mappage</button>
            </p>
        </header>
        <hr>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let s of scanServ.scans | slice:page.min:page.max">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ s['Title'] }} ({{ s['Identifiant_unique'] }})
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let m of s | keyvalue">
                        <span *ngIf="utils.typeOf(m.value) !== 'object'; else elseObjM">
                                <strong>{{ m.key }}</strong> : {{ m.value }}
                            </span>
                        <ng-template #elseObjM>
                            <strong>{{ m.key }}</strong>
                            <ul>
                                <!-- Tri dans le deuxième niveau de données -->
                                <li *ngFor="let l of m.value | keyvalue">
                                    <span *ngIf="utils.typeOf(l.value) !== 'object'; else elseBlockL">
                                            <strong>{{ l.key }}</strong> : {{ l.value }}
                                        </span>
                                    <ng-template #elseBlockL>
                                        <strong>{{ l.key }}</strong>
                                        <ul>
                                            <!-- Tri dans le troisième niveau de données -->
                                            <li *ngFor="let k of l.value | keyvalue">
                                                <strong>{{ k.key }}</strong> : {{ k.value }}
                                            </li>
                                        </ul>
                                    </ng-template>
                                </li>
                            </ul>
                        </ng-template>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
        <hr>
        <div *ngIf="scanServ.scans" class="flex justify-center">
            <button (click)="pagine(-20)" [disabled]="page.min < 20"><</button><button (click)="pagine(20)" [disabled]="page.max > scanServ.scans.length-20">></button>
        </div>
    </section>
    <aside>
        <header>
            <h2>Appliquer un filtre aux données</h2>
            <hr>
            <p>Choisissez une filtre dans la liste ci-dessous, vérifiez le résulat et cliquez sur 'enregistrer les données filtrées' pour les stocker formattées dans la base.</p>
        </header>
        <article>
            <form (ngSubmit)="creeSet(setfiltre)" #setfiltre="ngForm">
                <label for="fil">Choissez un filtre pour les données *</label>
                <select name="fil" required [(ngModel)]="_idFiltre" (change)="choixFiltre()" #ctlfil="ngModel">
                    <option value="null">--------------</option>
                    <option *ngFor="let f of filtresServ.filtres" [value]="f._id">{{ f.titre }} ({{ f.createur }})</option>
                </select>
                <label for="titre">Donnez ou modifiez le nom du SET de données à enregistrer *</label>
                <input name="titre" placeholder="Le titre qui apparaîtra dans l'adminitration" required [(ngModel)]="set.titre">
                <label for="alias">Donnez un alias *</label>
                <input name="alias" type="text" placeholder="Sans espaces, ni majuscules, ni caractères spéciaux" required [(ngModel)]="set.alias">
                <label for="fonds">Fonds *</label>
                <input name="fonds" type="text" placeholder="Saisissez le nom du fonds" required [(ngModel)]="set.fonds">
                <label for="desc">Inidiquez des informations complémentaires sur le SET scanné</label>
                <input name="desc" placeholder="Donnez des informations générales sur le SET" [(ngModel)]="set.description">
                <label for="createur">Qui a créé le SET ?</label>
                <input name="createur" placeholder="Nom de la ou des personne(s)" [(ngModel)]="set.createur">
                <label for="gestion">Qui gère ce SET ?</label>
                <input name="gestion" placeholder="Organiation et/ou personne(s) gérant le SET" [(ngModel)]="set.gestionnaire">
                <button [disabled]="setfiltre.invalid">Enregistrer les données filtrées</button>
            </form>
        </article>
        <blockquote>
            <h4 *ngIf="filtreChoisi.titre">Filtre sélectionné : {{ filtreChoisi.titre }}</h4>
            <p *ngIf="filtreChoisi.createur">Créateur : {{ filtreChoisi.createur }}</p>
            <p>{{ filtreChoisi.description }}</p>
            <p>Les données des documents sauvegardées seront celles inclues ci-dessous si elles sont présentes dans les métadonnées. Les autres ne seront pas dans la base moissonnable mais resteront accessibles dans les documents avec un autre filtre.</p>
            <ul>
                <li *ngFor="let meta of filtreChoisi.metadonnees | keyvalue">
                    {{ meta.key }} :
                    <ul *ngIf="utils.typeOf(meta.value) !== 'object'">
                        <li *ngFor="let m of meta.value | keyvalue">{{ m.key }}
                            <ul *ngIf="utils.typeOf(m.value) !== 'object'">
                                <li *ngFor="let n of m.value | keyvalue">{{ n.key }} ({{ n.value }})</li>
                            </ul>
                            <span *ngIf="utils.typeOf(m.value) === 'object'">({{ m.value }})</span>
                        </li>
                    </ul>
                    <span *ngIf="utils.typeOf(meta.value) === 'object'">{{ meta.value }}</span>
                </li>
            </ul>
        </blockquote>
    </aside>
</section>
<section class="pop-up" *ngIf="scanServ.load">
    <article>
        <h2>Scan des données</h2>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </article>
</section>