<section class="screen triple">
    <aside>
        <header>
            <h2>Set de données</h2>
            <hr>
            <p>Set de métadonnées scanné</p>
        </header>

    </aside>
    <section>
        <header>
            <h2>Mappage</h2>
            <hr>
            <p>Faites glisser les métadonnées de gauche vers les champs ci-dessous pour faire correspondre une métadonnée à une autre.</p>
        </header>
    </section>
    <aside>
        <header>
            <h2>Filtre généré</h2>
            <hr>
            <p>Les données affichées ici représente le résultat du filtre que vous allez créer</p>
        </header>
        <article>

        </article>
    </aside>
</section>