<section class="screen">
    <aside>
        <header>
            <h2>Set de données</h2>
            <hr>
            <p>Set de métadonnées scanné/ Cliquez sur celles que vous souhaitez ajouter à votre mappage.</p>
        </header>
        <article>
            <ul>
                <li *ngFor="let s of mapServ.set | keyvalue" (click)="selectItem(s.key)">
                    {{ s.key }} (ex. : {{ s.value }})
                </li>
            </ul>
        </article>
    </aside>
    <section>
        <header>
            <h2>Mappage</h2>
            <hr>
            <p>Modifiez les valeurs des champs sélectionnés. Vous pouvez les trier en les faisant glisser.</p>
        </header>
        <article>
            <ul cdkDropList (cdkDropListDropped)="drop($event)">
                <li *ngFor="let m of maps; let i=index" cdkDrag>
                    {{ m[0] }} : <br><input name="m[0]" [(ngModel)]="m[1]">
                    <mat-icon class="icone ferme" (click)="supprime(i)">delete</mat-icon>
                </li>
            </ul>
        </article>
    </section>
    <aside>
        <header>
            <h2>Filtre généré</h2>
            <hr>
            <p>Ce filtre, si vous le validez, pourra servir de tri dans les données brutes scannées sur votre serveur.</p>
        </header>
        <article>
            
            <form *ngIf="maps.length > 0" (submit)="valideFiltre()">
                <label for="titre">Titre*</label>
                <input name="titre" placeholder="Saisir un titre" [(ngModel)]="filtre.titre" required>
                <label for="alias">Alias*</label>
                <input name="alias" placeholder="Saisir un alias" [(ngModel)]="filtre.alias" required pattern="[a-z0-9-]+">
                <label for="description">Description*</label>
                <input name="description" placeholder="Saisir une description" [(ngModel)]="filtre.description" required>
                <label for="createur">Créateur</label>
                <input name="createur" placeholder="Saisir un créateur" [(ngModel)]="filtre.createur">
                <label for="donnees">Données du filtre</label>
                <ul>
                    <li *ngFor="let f of maps">
                        {{ f[1] }}
                    </li>
                </ul>
                <button>Valider ce filtre</button>
            </form>
        </article>
    </aside>
</section>