section>aside:nth-child(1) {
    flex: 1;
    background-color: #6EBADA;
}

section header {
    flex-direction: column;
    padding: 0 10px;
}

section>section {
    flex: 1;
    background-color: rgba(110, 186, 218, 0.5);
}
section > section ul li{
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
section>aside:nth-child(3) {
    flex: 1;
}

section>aside:nth-child(3) hr {
    border-color: #CCC;
}
ul{
    border: 1px dashed #FFF;
    padding:10px;
}
ul li{
 list-style: none;
}