

header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;

    background-color: blue;
    opacity: 0.5;
}

#sidenav {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: calc(100vh - 128px);

	background-color: red;
	opacity: 0.5;
}

footer {
	display: block;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 64px;

	background-color: green;
	opacity: 0.5;
}