

header {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;

    background-color: rgba(0, 0, 255, 0.5);
}

#sidenav {
  display: block;
  top: 0;
  left: 0;
  width: 200px;
  height: calc(100vh - 128px);

  background-color: rgba(255, 0, 0, 0.5);
}

#screen {
  display: block;
  position: absolute;
  top: 64px;
  left: 200px;
  width: calc(100vw - 200px);
  height: calc(100vh - 128px);
  padding: 20px;

  background: white;
}

footer {
	display: block;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 64px;

	background-color: rgba(0, 128, 0, 0.5);
}