<section class="unique">

    <header>
        <h3>Informations sur la set
            <mat-icon (click)="fermer.emit(false)">close</mat-icon>
        </h3>
        <h2>{{ set.titre }}</h2>

    </header>

    <form>
        <section>
            <label for="titre">Titre</label>
            <input name="titre" [(ngModel)]="set.titre" required>

            <label for="alias">Alias</label>
            <input name="alias" [(ngModel)]="set.alias" required pattern="[a-z0-9-]+">

            <label for="description">Description</label>
            <textarea mat-input name="description" [(ngModel)]="set.description">
            </textarea>

            <label for="fonds">Fonds</label>
            <input name="fonds" [(ngModel)]="set.fonds" required>

            <label for="date">Date de création</label>
            <input name="date" [(ngModel)]="set.date" required>

            <label for="createur">Createur</label>
            <input name="createur" [(ngModel)]="set.createur">

            <label for="gest">Gestionnaire</label>
            <input name="gest" [(ngModel)]="set.gestionnaire">
            <hr>
            <p>
                <button class="invalid" (click)="fermer.emit(false)">Annuler</button>
                <button class="valid" (click)="setsServ.majSet(set); fermer.emit(false)">Valider</button>
            </p>
        </section>
    </form>
</section>