.left-panel {
    flex-grow: 1;
    min-width: 150px;
}

.left-panel ul li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background: #FFF;
    transition: all .3s ease;
}

.left-panel ul li mat-icon {
    margin-top: -5px;
    float: right;
}

.left-panel ul li:hover {
    background: grey;
}

.left-panel>* {
    width: 100%;
}

section.screen>section {
    flex-grow: 3;
    min-width: 30%;
}

.right-panel {
    flex-grow: 4;
    min-width: 40%;
}

.right-panel .notice {
    width: 50%;
}