section.screen section {
    padding: 10px 15px;
}

section.screen section header>div {
    float: right;
}


section.screen>section {
    flex-grow: 3;
    min-width: 30%;
}

aside:nth-child(3) {
    flex-grow: 4;
    min-width: 40%;
    background-color: rgba(255, 213, 0, 0.5);
    padding:0;
}

aside:nth-child(3) .notice {
    width: 50%;
}
aside:nth-child(3) ul, aside:nth-child(3) section {
    padding:0;
    margin:0;
}