<section class="screen triple">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h1>Collections disponibles</h1>
            <mat-icon matTooltip="Ajouter une collection" (click)="detailsCollec = true; idCollection = null">playlist_add</mat-icon>
        </header>
        <ul>

            <li *ngFor="let collection of colServ.collections; let i=index" (click)="collectionOnClick(collection._id) ">
                {{collection.titre}} ({{ collection.alias }})
                <!-- <mat-icon matTooltip="Afficher les séries" *ngIf="collection.series" (click)="toggleSeries('series_'+collection._id)">keyboard_arrow_down</mat-icon> -->
            </li>
        </ul>
    </aside>
    <section>
        <header>
            <div>
                <mat-icon matTooltip="Supprimer le SET" (click)="delete = true">delete</mat-icon>
                <mat-icon matTooltip="Modifier la collection" (click)="detailsCollec = true">edit</mat-icon>
            </div>
            <h2>Informations sur la collection choisie</h2>
        </header>
        <article *ngIf="colServ.collection">
            <ul>
                <li *ngFor="let n of colServ.collection | keyvalue">
                    <strong>{{ n.key }}</strong> : {{ n.value }}
                </li>
            </ul>
        </article>
        <article *ngIf="noticesServ.seriesCollec.length > 0">
            <!-- <mat-icon matTooltip="Ajouter une série à la collection">playlist_add</mat-icon> -->
            <h3>Séries de la collection</h3>
            <ul>
                <li *ngFor="let serie of noticesServ.seriesCollec; let i=index">
                    {{ serie }}
                </li>
            </ul>
        </article>
    </section>
    <!-- <aside class="right-panel " [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed' "> -->
    <aside>
        <section class="selection ">
            <ul class="notice-liste">
                <li *ngFor="let notice of noticesServ.noticesCollec; let i=index" class="notice">
                    <div [style.backgroundImage]="'url('+ notice['fichier'].url +')'">
                        <div>
                            <mat-icon (click)="noticeOnAffiche(notice._id)" matTooltip="Voir la fiche de la notice">
                                visibility</mat-icon>
                            <mat-icon (click)="noticeOnEnlever(notice._id)" matTooltip="Enlever cette notice de la collection">remove_circle</mat-icon>
                        </div>
                    </div>
                    <div>
                        <h3>{{notice.metadonnees['dublincore'].title}}</h3>
                        <p>{{notice.metadonnees['dublincore'].description}}</p>
                    </div>
                </li>
            </ul>
        </section>
    </aside>
</section>

<!-- Valider une suppression de notice ou de collection -->
<section *ngIf="afficheEnlever" class="pop-up">
    <article>
        <h3>Supprimer une notice</h3>
        <p>En cliquant sur valider la suppression vous enleverez la notice de cette collection.</p>
        <p>Elle restera néanmoins disponible dans les autres collections ou pourra être intégrée dans une autre sélection.
        </p>
        <button>Valider la suppression</button>
        <button (click)="masque()">Annuler</button>
    </article>
</section>

<section class="pop-up" *ngIf="delete">
    <article>
        <h2>Etes-vous sûr.e ?</h2>
        <p>
            <mat-icon matTooltip="Annuler la destruction" (click)="delete = false" class="grand">cancel</mat-icon>
            <mat-icon matTooltip="Valider la destruction" (click)="colServ.supprCollec(colServ.collection._id);delete = false" class="grand">check_circle</mat-icon>
        </p>
    </article>
</section>
<!-- Afficher la collection choisie -->
<app-collection *ngIf="detailsCollec" [idCollection]="idCollection" (fermer)="masque()" class="unique"></app-collection>
<!-- Afficher la notice choisie -->
<app-notice *ngIf="afficheDetailNotice" [idNotice]="idNotice" (fermer)="masque()" class="unique"></app-notice>