<section class="screen">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h2>Collections disponibles</h2>
            <mat-icon matTooltip="Ajouter une collection" (click)="afficheDetailCollec = true">playlist_add</mat-icon>
        </header>
        <ul>

            <li *ngFor="let collection of colServ.collections; let i=index" (click)="collectionOnClick(i, collection._id) ">
                {{collection.titre}} ({{ collection.alias }})
                <!-- <mat-icon matTooltip="Afficher les séries" *ngIf="collection.series" (click)="toggleSeries('series_'+collection._id)">keyboard_arrow_down</mat-icon> -->
            </li>
        </ul>
    </aside>
    <section>
        <header>
            <div>
                <mat-icon matTooltip="Modifier la collection" (click)="afficheDetailCollec = true">edit</mat-icon>
                <mat-icon matTooltip="Sauvegarder les changements">save</mat-icon>
            </div>
            <h2>Informations sur la collection</h2>
        </header>
        <article *ngIf="collec">

            <h3>{{ collec.titre }}</h3>
            <p>_id : {{ collec._id }}</p>
            <p>Alias : {{ collec.alias }}</p>
            <p>Type : {{ collec.type }}</p>
            <p>Description : {{ collec.description }}</p>
            <p>Type : {{ collec.type }}</p>
            <p>Créateur : {{ collec.createur }}</p>
            <p *ngIf="collec.fond">Fond : {{ collec.fond }}</p>
            <p *ngIf="collec.langue">Langue : {{ collec.langue }}</p>
            <p *ngIf="collec.groupe">Groupe : {{ collec.groupe }}</p>
        </article>
        <article *ngIf="collec.series && collec.series.length > 0">
            <mat-icon matTooltip="Ajouter une série à la collection">playlist_add</mat-icon>
            <h3>Séries de la collection</h3>
            {{collec.series?.length}}
            <ul *ngIf="collec.series.length > 0">
                <li *ngFor="let serie of collec.series; let i=index">
                    {{ i }} - {{ serie }}
                </li>
            </ul>
        </article>
    </section>
    <!-- <aside class="right-panel " [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="right-panel">
        <section class="selection ">
            <ul class="notice-liste">

                <li *ngFor="let notice of noticesServ.noticesCollec" class="notice">
                    <div [style.backgroundImage]="'url('+ notice.fichier.url +')'">
                        <div>
                            <mat-icon (click)="noticeAfficheDetail($event, notice._id)" matTooltip="Voir la fiche de la notice">visibility</mat-icon>
                            <mat-icon (click)="noticeOnChoisi($event, notice._id)" matTooltip="Ajouter cette notice à la liste sélectionnée">playlist_add</mat-icon>
                            <mat-icon (click)="noticeOnInfo($event, notice._id)" matTooltip="Informations synthétiques sur la notice">info</mat-icon>
                            <mat-icon matTooltip="Supprimer la notice">remove_circle</mat-icon>
                        </div>
                    </div>
                    <div>
                        <h3>{{notice.titre}}</h3>
                        <p>{{notice.description}}</p>
                        <div>
                            <mat-icon *ngIf="notice.selected">check_circle</mat-icon>
                            <mat-icon *ngIf="!notice.selected">check_circle_outline</mat-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </aside>
</section>
<app-collection *ngIf="afficheDetailCollec" [collection]="collec" (fermer)="masque($event)" class="unique"></app-collection>