<header>
	<button class="user-option" mat-icon-button [matMenuTriggerFor]="menu">
		<div mat-card-avatar class="user-image"></div>
	</button>

	<mat-menu #menu="matMenu">
		<button mat-menu-item routerLink="/connexion">
			<span>Deconnexion</span>
			<!--<mat-icon>close</mat-icon>-->
		</button>
		<button mat-menu-item routerLink="/intranet/profile">
			<span>Profile</span>
		</button>
	</mat-menu>

	<mat-form-field appearance="outline" class="searchbox">
		<mat-label>Rechercher</mat-label>
		<input matInput placeholder="Taper votre recherche">
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>
</header>