/*
////////////////
      HEADER
////////////////
*/

header {
    display: block;
    position: absolute;
    top: 0;
    left: 64px;
    width: calc(100vw - 64px);
    height: 64px;

    background-color: lightgrey;
}

.profil {
    display: flex;
    position: absolute;
    top: 16px;
    right: 128px;
    width: 100px;
    height: 32px;
}

.profil-img-cptn {
    width: 32px;
    height: 32px;

    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.profil-img-picto {
    height: 100%;
}

.profil-title {
    padding-left: 16px;
    line-height: 30px;
}