<section class="screen double">
    <aside>
        <header>
            <h2>Aide</h2>
            <hr>
            <p>Cliquez sur les liens ci-dessous pour accéder à l'aide correspondante.</p>
        </header>
        <ul>
            <li> </li>
        </ul>
    </aside>
    <section>
        <header>
            <h2></h2>
            <hr>
            <p></p>
        </header>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        {{ s['Identifiant_unique'] }}
                    </mat-panel-description> -->
                </mat-expansion-panel-header>

            </mat-expansion-panel>
        </mat-accordion>
    </section>
</section>