@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');

/** footer **/

footer {
	display: block;
	position: absolute;
	top: calc(100vh - 64px);
	left: 0;
	width: 100vw;
	height: 64px;
	background-color: #c74469;
}