<section class="screen">
    <a href="#" class="left-btn" (click)="toggleLeftPanel($event)">
      L
  </a>
    <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed'">
        Liste des filtres
    </aside>

    <section class="content-panel">
        Informations sur le filtre cliquer sur modifier pour faire apparaître le formulaire de modification
    </section>

    <aside class="right-panel" [@openCloseRightPanel]="rightPanelIsOpen ? 'open' : 'closed'">
        <section class="selection">
            Liste des notices sélectionnées
        </section>
    </aside>

    <a href="#" class="right-btn" (click)="toggleRightPanel($event)">
      R
  </a>
</section>