<section class="screen">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h2>Filtres disponibles</h2>
            <mat-icon matTooltip="Ajouter un filtre">playlist_add</mat-icon>
            <mat-icon matTooltip="Ouvrir / fermer le panneau">settings_ethernet</mat-icon>
        </header>
        <ul>

            <li *ngFor="let filtre of this.filtresServ.filtres" (click)="filtreOnClick(filtre._id) ">
                {{filtre.titre}}
            </li>
        </ul>
    </aside>
    <section>
        <header>
            <div>
                <mat-icon matTooltip="Modifier la collection">edit</mat-icon>
                <mat-icon matTooltip="Sauvegarder les changements">save</mat-icon>
            </div>
            <h2>Détails sur le filtre</h2>
        </header>
        <article>
            <h3>{{filtre.titre}}
                <mat-icon matTooltip="Modifier le nom du filtre" *ngIf="edition">edit</mat-icon>
            </h3>
            <p>Auteur : {{filtre.createur}}
                <mat-icon matTooltip="Modifier l'auteur" *ngIf="edition">edit</mat-icon>
            </p>
            <p>{{filtre.description}}
                <mat-icon matTooltip="Modifier la description du filtre" *ngIf="edition">edit</mat-icon>
            </p>
            <h5>Métadonnées traitées par le filtre</h5>
            <ul>
                <li *ngFor="let d of filtre.donnees; let i=index">
                    {{ d }}
                    <mat-icon matTooltip="Supprimer la métadonnée" *ngIf="edition" (click)="supprMeta(i)">delete</mat-icon>
                </li>
            </ul>
        </article>
    </section>
    <aside class="right-panel">
        <header>
            <!-- <mat-icon matTooltip="Ouvrir / fermer le panneau">settings_ethernet</mat-icon> -->
        </header>
        <section class="selection ">

            <article>

            </article>
        </section>
    </aside>
</section>