<section>

    <header>
        <h3>Informations sur la collection
            <mat-icon (click)="fermer.emit(false)">close</mat-icon>
        </h3>
        <h2>{{ collection.titre }}</h2>

    </header>

    <form>
        <section>
            <label for="titre">Titre</label>
            <input name="titre" [(ngModel)]="collection.titre" required>

            <label for="alias">Alias</label>
            <input name="alias" [(ngModel)]="collection.alias" required pattern="[a-z0-9-]+">

            <label for="description">Description</label>
            <textarea mat-input name="description" [(ngModel)]="collection.description" required>
            </textarea>

            <label for="type">Type</label>
            <select name="type" [(ngModel)]="collection.type" required>
                <option value="image">Images</option>
                <option value="multimedia">Multimédia</option>
            </select>

            <label for="createur">Créateur</label>
            <input name="createur" [(ngModel)]="collection.createur" required>

            <label for="fond">Fond</label>
            <input name="fond" [(ngModel)]="collection.fond">

            <label for="langue">Langue</label>
            <input name="langue" [(ngModel)]="collection.langue">
        </section>

        <section>
            <h3>Séries
                <mat-icon>add</mat-icon>
            </h3>
            <hr>
            <p>
                <button class="invalid" (click)="fermer.emit(false)">Annuler</button>
                <button class="valid" (click)="ecrire()">Valider</button>
            </p>
        </section>

    </form>
</section>