<section class="colonnes">
    <header>
        <h2>{{ collection.titre }}</h2>
        <mat-icon matTooltip="Modifier la collection" (click)="afficheMaj()">edit</mat-icon>
    </header>
    <section class="content-panel">
        <h2>Informations sur la collection</h2>
        <p>
            cliquer sur modifier pour faire apparaître le formulaire de modification
        </p>
        <article>
            <h3>{{this.collection.nom}}</h3>
            <p>
                {{this.collection.description}}
            </p>
        </article>
    </section>
    <section>
        <form (submit)='majCollection()'>
            
        </form>
    </section>
</section>